{% extends "ms/base.html" %}
{% block body%}
<div data-role="page" id="prize" >

	<div data-role="header">
		<h1>If you win</h1>
	</div><!-- /header -->

	<div data-role="content" >	
		<p>If you win this year's Muffin Stomp, you take home an iPad 2.</p>
		<p><a href="#main" data-direction="reverse" data-role="button">Go play</a></p>
	</div><!-- /content -->
	
	<div data-role="footer" data-position="fixed">
		<h4>Happy Holidays from Matrix, 2011</h4>
	</div><!-- /footer -->
</div><!-- /page two -->
{%endblock%}