{% extends "ms/base.html" %}

{% block body%}
<div data-role="page" data-theme="c" id="error" >

	<div data-role="header">
		<h1>You are the Top Muffin</h1>
	</div><!-- /header -->

	<div data-role="content" >	
		<h2>You have won the game. Congratulations.</h2>
		<h4>Please find someone from Matrix to buy you a drink and give you your prize.</h4>
		
	</div>
	
	<div data-role="footer" data-position="fixed">
		<h4>Happy Holidays from Matrix, 2011</h4>
	</div><!-- /footer -->
</div><!-- /page two -->
{%endblock%}